name: CI
permissions:
  contents: read

on:
  pull_request:
  push:
    branches:
      - main
      - master

jobs:
  local-check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          profile: minimal
          override: true
      - name: Run local checks
        run: bash ci/local_check.sh
